@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.logo-text{
    font-family: 'Sriracha', cursive;
    font-size: 25px;
}
.logout-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: gray;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 7px;
    width: 70px;
    height: 30px;

}
.cart-container{
    position: relative;
    width: 50px;
    margin: 0 auto;
}
.cart-container a .cart-icon{
    font-size: 30px;
    margin-left: 5px;
    color: rgb(114, 113, 113);
}
.cart-total{
    position: absolute;
    top: -7px;
    left: 34px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 50%;
}