
.form-container{
    margin: 0 auto;
   border: 1px solid gray;
   padding: 40px 30px;
   padding-right: 0px;
   width: 550px;
   height: 100%;
}
.form-container h2{
    font-size: 40px;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: gray;
    width: 80%;
}
.form-container form input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.form-container form button{
    border: none;
    background-color: #343f6b;
    color: white;
    text-transform: uppercase;
    margin-top: 15px;
    padding: 5px 10px;
    transition: 0.4s;
}

.form-container form label::after{
    content: '*';
    margin-left: 5px;
}
.form-container a{
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}
@media only screen and (max-width:720px) {
    .form-container{
        width: 90%;
    }
    .form-container h2{
        font-size: 30px;
    }
}