@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
.preloader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(40, 50, 73);
  height: 100vh;
}
