@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.App {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}
.preloader{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(44, 50, 77);
  height: 100vh;
  color: #ffe70a;
}
